.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &_input{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        &_div{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-weight: 700;
            position: relative;
            top: -7px;
            &_button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 100%;
                padding: 0 45px;
                height: 50px;
                background-color: #232B33;
                border-radius: 50px;
                border: none;
                color: #FFFFFF;
                font-weight: 700;
                transition: transform 0.5s ease;
                transition: box-shadow 0.5s ease;
                transform-origin: center center;
                box-shadow: 0px 10px 20px 0px #00000026, -5px -5px 10px 0px #FFFFFF0D;
            }
            
            &_button:hover {
                box-shadow: 0px 10px 20px 0px #00000026, -5px -5px 10px 0px #FFFFFF0D;
            }
        }
        &_big{
            position: relative;
            padding-bottom: 20px;
            &_input{
                width: 510px;
                height: 64px;
                box-shadow: 0px 10px 20px 0px #00000026 inset, -5px -5px 10px 0px #FFFFFF0D inset;
                background-color: #262E36;
                border-radius: 50px;
                border: none;
                padding: 10px;
                color: #FFFFFF;
                padding: 10px 10px 10px 65px;
                
            }
            &_icon{
            position: absolute;
            top: 20px;
            left: 24px;
            }
        }
    }
    &_button{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        &_div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 217px;
            height:44px;
            padding: 10px, 40px, 10px, 40px;
            border-radius: 50px;
            background-color: #232B33;
            border: none;
            color: #FFFFFF;
            font-weight: 700;
            box-shadow: 0px 10px 20px 0px #00000026, -5px -5px 10px 0px #FFFFFF0D;
            gap: 10px;
        }
    }
}