.infoClient{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, 0.1019607843), 10px 4px 20px 0px rgba(0, 0, 0, 0.5019607843);
    min-width: 261px;
    max-height: 536px;
    border-radius: 20px;
    gap: 20px;
    padding: 20px;
    color: #FFFFFF;
    margin-top: 36px;
    &_titel{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        &_input{
            box-shadow: 0px 10px 20px 0px #00000026 inset, -5px -5px 10px 0px #FFFFFF0D inset;
            background-color: #262E36;
            border-radius: 10px;
            border: none;
            padding: 10px;
            width: 75%;
        }
    }
    &_block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        font-size: 18px;
        width: 100%;
        padding: 10px 0;
        border-top: solid 1px rgb(205 205 205);
        border-bottom: solid 1px rgb(205 205 205);
        &_text{
            color:rgb(205 205 205); ;
            padding: 10px;
        }
    }
    &_input{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 20px;
        &_input{
            box-shadow: 0px 10px 20px 0px #00000026 inset, -5px -5px 10px 0px #FFFFFF0D inset;
            background-color: #262E36;
            border-radius: 10px;
            border: none;
            padding: 10px;
            margin: 0 10px;
                
        }
    }
    &_button{
        width: 231px;
        height: 44px ;
        padding: 10px, 40px, 10px, 40px ;
        gap: 10px;
        background-color: #232B33;
        border-radius: 50px;
        border: none;
        margin: 10px 0;
        color: #FFFFFF;
        font-weight: 700;
        transition: transform 0.5s ease;
        transition: box-shadow 0.5s ease;
        transform-origin: center center;
        box-shadow: 0px 10px 20px 0px #00000026, -5px -5px 10px 0px #FFFFFF0D;
    }
    &_button:hover {
        box-shadow: 0px 10px 20px 0px #00000026, -5px -5px 10px 0px #FFFFFF0D;
    }
}


