*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: #232B33;
  width: 100%; 
  height: 100%; 
  
  
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  min-height: 97vh;
  /* margin-left: calc(50% - 50vw); */
}
.App_body{
  max-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
    width: 100%;
  
}


